---
import Layout from '../layouts/Layout.astro';
import ActualizarContactoComponent from '../components/actualizarContacto.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <ActualizarContactoComponent />
	</main>
</Layout>
