---
import Layout from '../layouts/Layout.astro';
import MostrarContactosComponent from '../components/mostrarContactos.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <MostrarContactosComponent />
	</main>
</Layout>