<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-indigo-900">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/"
          class="flex justify-center items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-indigo-700 group"
        >
          <span class="ms-3">Lista Contactos</span>
        </a>
      </li>
      <li>
        <a
          href="/"
          class="flex items-center p-2 mt-8 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-indigo-700 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-sky-100 transition duration-75 dark:text-sky-100 group-hover:text-indigo-900 dark:group-hover:text-white"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-address-book"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z"
            ></path><path d="M10 16h6"></path><path
              d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
              d="M4 8h3"></path><path d="M4 12h3"></path><path d="M4 16h3"
            ></path></svg
          >
          <span class="flex-1 ms-3 whitespace-nowrap">Crear Contacto</span>
        </a>
      </li>
      <li>
        <a
          href="/mostrarContactos"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-indigo-700 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-sky-100 group-hover:text-indigo-900 dark:group-hover:text-white"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-search"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
              d="M21 21l-6 -6"></path></svg
          >
          <span class="flex-1 ms-3 whitespace-nowrap">Consultar Contactos</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
